@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
	--primary-color: #fff2c6;
	--secondary-color: #7a390c;
	--white: #ffffff;
	--black: #000000;

	--font-istok: "Istok Web", "Segoe UI", Tahoma, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-istok);
}

body {
	width: 100dvw;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	background-image: url("../images/background.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}

/* Glassmorphism configuration in elements */
.calculator {
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(15px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.calculator__display,
.calculator__button {
	background: rgba(255, 255, 255, 0.01);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(0.39px);
	border: none;
}

.app {
	width: 80%;
	height: 90dvh;
	margin-top: 1rem;

	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.calculator {
	width: 100%;
	max-width: 500px;
	height: 100%;
	padding: 1rem;
	border-radius: 30px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.calculator__display {
	width: 100%;
	height: 140px;
	border-radius: 20px;
	margin-bottom: 1rem;
	padding: 1rem;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-end;
}

.calculator__operation,
.calculator__input {
	font-size: clamp(1.3rem, 0.3rem + 2vw, 1.6rem);
	color: var(--secondary-color);
	font-weight: 700;

	width: 100%;
	height: 40px;
	text-align: right;
}

.calculator__input {
	font-size: clamp(2.2rem, 0.3rem + 2vw, 2.2rem);
	margin-top: 2.2rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	direction: ltr;
}

.calculator__buttons {
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 9px;
}

.calculator__button {
	border-radius: 20px;
	color: var(--white);
	font-size: clamp(1rem, 0.3rem + 2vw, 1.5rem);
	font-weight: 600;
	text-transform: uppercase;

	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.calculator__button--clear,
.calculator__button--delete,
.calculator__button--equal {
	background: var(--primary-color);
	color: var(--secondary-color);
	font-size: clamp(16px, 0.3rem + 2vw, 18px);
}

.calculator__button--clear,
.calculator__button--equal {
	grid-column: span 2 / span 2;
}

.calculator__button--operator {
	background: rgba(0, 0, 0, 0.3);
	border: 2px solid var(--primary-color);
	text-transform: lowercase;
}

.calculator__button:hover {
	color: var(--primary-color);
	background: var(--secondary-color);
}

.calculator__button--operator:hover {
	background: var(--secondary-color);
	color: var(--primary-color);
}

.calculator__button--clear:hover,
.calculator__button--delete:hover {
	background: rgba(0, 0, 0, 0.3);
	border: 2px solid var(--primary-color);
}

.footer {
	width: 100%;
	padding: 0.1px 5px;
	text-align: center;
}

.footer__text {
	color: var(--white);
	font-size: 1rem;
}

.footer__text a {
	text-decoration: none;
	color: var(--primary-color);
	font-weight: 600;
}
